<div class="row m-5" *ngIf="character$ | async as character">
    <div class="col-4">
        <img [src]="character.image" [alt]="character.name" class="card-img-top img-fluid">
    </div>
    <div class="col-8">
        <h2>{{character.name}}</h2>
        <p>Género: {{character.gender}}</p>
        <p>Fecha de creación: {{character.created | date}}</p>
        <p>Locación: {{character.location.name}}</p>
        <p>Origen: {{character.origin.name}}</p>
        <p>Tipo: {{character.species}}</p>
        <small class="text-muted">Estado: {{getStatusSpanish(character.status)}}</small>
    </div>
</div>
<button (click)="goBack" class="btn btn-primary btn-large">Volver atras</button>